[run]
parallel = True
branch = True
source =
    $TOP/tests
    venv_update
    pip_faster
data_file = $TOP/.coverage

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    \#.*:pragma:nocover:
    \#.*never returns
    \#.*doesn't return

    # Don't complain if tests don't hit defensive assertion code:
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b

    # Don't complain if tests don't hit re-raise of unexpected errors:
    ^\s*raise$

    # if main is covered, we're good:
    ^\s*exit\(main\(\)\)$

partial_branches =
    \#.*:pragma:nobranch:
show_missing = True

[html]
directory = $TOP/coverage-html

# vim:ft=dosini
