# only ignored in this directory, specifically
/*.egg-info/
/build/
/.coverage
/.idea
/.project
/.pydevproject
/.tox
/coverage-html
/dist
/tmp*/
/venv/
/.cache

# ignored anywhere
*.iml
*.py[co]
.*.sw[a-z]
*.tmp
