# only ignored in this directory, specifically
/build/
/.coverage
/.idea
/.project
/.pydevproject
/.tox
/coverage-html
/dist
/tmp*/
/venv/
/.pytest_cache

# ignored anywhere
*.egg-info/
*.iml
*.py[co]
.*.sw[a-z]
*.tmp
