language: python
env: # These should match the tox env list
    - TOXENV=py26 PATH=/opt/python/2.6.9/bin:$PATH
    - TOXENV=py27
    - TOXENV=py34
install: pip install tox
script: tox
cache:
    directories:
        - $HOME/.pip
